body{
    font-family: 'Ubuntu', FontAwesome, sans-serif;
    background-color: lightslategrey;
    color: white;
    outline: none;
}

label{
    margin-left: 1%;
}

#vidId{
    margin: 1%;
}

input{
    background-color: rgba(105,105,100);
    color: white;
    outline: none;
}

::-webkit-input-placeholder {
    color: white;
}

#video{
   border: 2px double rgb(64, 86, 80);
   border-radius: 20px;
   padding-left: 10px;
   padding-right: 10px;
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 40px;
   height: 70vh;
   min-height: 400px;
   padding-bottom: 30px;
}

#pl{
    margin-top: 10px;
}

#mostra{
    margin-left: 10px;
    visibility: hidden;
}