body{
    font-family: 'Ubuntu', FontAwesome, sans-serif;
    outline: none;
}

label{
    margin-left: 1%;
}

#vidId{
    margin: 1%;
}

#video{
   border: 2px double rgb(64, 86, 80);
   border-radius: 20px;
   padding-left: 10px;
   padding-right: 10px;
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 40px;
   height: 85vh;
   min-height: 400px;
   padding-bottom: 30px;
}

#pl{
    margin-top: 10px;
}

#mostra{
    margin-left: 10px;
    visibility: hidden;
}

.radio{
    border: 2px dashed rgb(64, 86, 80);
    border-radius: 10px;
    margin: 10px;
    margin-top: 1%;
    margin-bottom: 20px;
    width: 80%;
    height: 10%;
}

#lofi{
    background: url("media/videoplayback-Trim.gif") center;
}

#rock{
   animation: cor 4s infinite;
}

@keyframes cor{
    0%{
        background: rgb(117, 25, 25);
    }

    50%{
        background: rgb(15, 11, 11);
    }

    100%{
        background: rgb(117, 25, 25);
    }
}

#drop{
    background-color: rgb(52,58,62);
    color: white;
}

#ifr{
    margin-top: 1%;
    margin-bottom: 1%;
}

#vid,#vid2{
    border-radius: 10px;
}

#p1, #p2, #eye, #eye2, #next{
    width: 30px;
    height: 10px;
}

@media screen and (prefers-color-scheme: dark) {
    body{
        background-color: #242323;
        color: #f0ece2;
    }

    input{
        background-color: #101010;
        border: 0px;
        color: white;
        outline: none;
    }

    ::-webkit-input-placeholder {
        color: white;
    }

    img {
        filter: brightness(0.9);
      }
}